:root {
    --black: #000;
    --black05: rgba(0, 0, 0, 0.5);

    --white: #fff;
    --white05: rgba(255, 255, 255, 0.5);

    --background1: #2C3639;
    --background2: #3F4E4F;
    --background3: #DCD7C9;

    --color1: #B5C7CC;
    --color2: #8BA1AD;
    --color3: #587B89;
    --color4: #244C66;
    --color5: #407D6C;
    --color6: #7DB290;
}